@CHARSET "ISO-8859-1";

.ccm-block-highlight-file label.control-label {
    padding-top: 0px;
}
.ccm-block-highlight-file .ccm-file-selector {
    margin-bottom: 20px;
}
.ccm-block-highlight-file .form-group .form-50 {
	width: 50%;
}